[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Udiskie
Comment=extenal disk notification
Icon=cd
Exec=udiskie -A
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
